source [find interface/cmsis-dap.cfg]
transport select swd
# Serialize transfers for CMSIS-DAP firmware with packet pipelining issues.
cmsis-dap quirk enable
source [find target/stm32f1x.cfg]
# Set this after the target script, which defaults to 1000 kHz.
adapter speed 100
reset_config none
